# Зависимости
/node_modules
package-lock.json

# Сборка
/dist
/build
*.local

# Покрытие кода
/coverage

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo